In [1]:
from bs4 import BeautifulSoup as bs
import requests
from selenium import webdriver
from html_table_parser import parser_functions as parse
from time import sleep
import pandas as pd

### Get a list of all counties in WI

In [2]:
# Get the list of all counties in WI
county_url = "https://dnr.wi.gov/lakes/clmn/"
county_html = requests.get(county_url)

In [3]:
# .text returns the request content in Unicode
county_html.text[:500]

'\r\n\r\n<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">\r\n\r\n<html xmlns="http://www.w3.org/1999/xhtml">\r\n\r\n<head><meta http-equiv="content-type" content="text/html;charset=utf-8" /><link href="http://dnr.wi.gov/favicon.ico" type="image/x-icon" rel="icon" /><link href="http://dnr.wi.gov/favicon.ico" type="image/x-icon" rel="shortcut icon" /><title>\r\n\tCitizen Lake Monitoring Network\r\n</title><!-- BEGIN global_head.inc ( /includes/global_head'

In [4]:
county_soup = bs(county_html.text, 'html.parser')

In [5]:
county_soup.find_all(name='li', attrs={'class':'multiColList'})

[<li class="multiColList"><a href="Stations.aspx?location=1">
                 Adams County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=2">
                 Ashland County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=3">
                 Barron County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=4">
                 Bayfield County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=5">
                 Brown County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=6">
                 Buffalo County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=7">
                 Burnett County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=8">
                 Calumet County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=9">
                 Chippewa County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=10">
                 Clark County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=11">
                 Columbia County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=12">
                 Crawford County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=13">
                 Dane County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=14">
                 Dodge County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=15">
                 Door County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=16">
                 Douglas County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=17">
                 Dunn County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=18">
                 Eau Claire County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=19">
                 Florence County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=20">
                 Fond du Lac County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=21">
                 Forest County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=22">
                 Grant County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=23">
                 Green County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=24">
                 Green Lake County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=25">
                 Iowa County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=26">
                 Iron County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=27">
                 Jackson County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=28">
                 Jefferson County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=29">
                 Juneau County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=30">
                 Kenosha County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=31">
                 Kewaunee County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=32">
                 La Crosse County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=33">
                 Lafayette County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=34">
                 Langlade County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=35">
                 Lincoln County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=36">
                 Manitowoc County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=37">
                 Marathon County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=38">
                 Marinette County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=39">
                 Marquette County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=40">
                 Menominee County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=41">
                 Milwaukee County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=42">
                 Monroe County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=43">
                 Oconto County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=44">
                 Oneida County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=45">
                 Outagamie County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=46">
                 Ozaukee County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=47">
                 Pepin County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=48">
                 Pierce County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=49">
                 Polk County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=50">
                 Portage County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=51">
                 Price County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=52">
                 Racine County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=53">
                 Richland County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=54">
                 Rock County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=55">
                 Rusk County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=56">
                 Saint Croix County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=57">
                 Sauk County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=58">
                 Sawyer County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=59">
                 Shawano County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=60">
                 Sheboygan County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=61">
                 Taylor County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=62">
                 Trempealeau County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=63">
                 Vernon County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=64">
                 Vilas County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=65">
                 Walworth County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=66">
                 Washburn County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=67">
                 Washington County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=68">
                 Waukesha County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=69">
                 Waupaca County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=70">
                 Waushara County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=71">
                 Winnebago County
             </a></li>,
 <li class="multiColList"><a href="Stations.aspx?location=72">
                 Wood County
             </a></li>]

In [6]:
# Extract list of all counties, correctly formatted 
counties = []
for entry in county_soup.find_all(name='li', attrs={'class':'multiColList'}):
    counties.append(entry.text.replace('\r\n', '').replace(' ', '').replace('County',' County'))
print(len(counties))

72

### Get all reports containing CHLA readings

Get all station numbers

In [25]:
# find station number in from table column station ID 
# All counties: https://dnr.wi.gov/lakes/clmn/Stations.aspx?location=0 
# By county: https://dnr.wi.gov/lakes/clmn/Stations.aspx?location=1 

driver = webdriver.Firefox()
station_url = 'https://dnr.wi.gov/lakes/clmn/Stations.aspx?location=0'
driver.get(station_url)

stationIDs = []

def stationID_extract(pageNumber):
    for i in range(pageNumber):
        station = driver.page_source
        station_soup = bs(station, "html.parser")
        station_table = station_soup.find('table',  { "class" : "greysuitsyou" })
        station_twod_array = parse.make2d(station_table)
        for n in range(2,len(station_twod_array)-1):
            stationIDs.append(station_twod_array[n][1])
        #sleep(1)
        # go to next page
        driver.find_element_by_id("ctl00_ctl00_LeftPageContent_gvStationTable_ctl01_LinkButton3").click()

In [26]:
stationID_extract(40)
driver.close()

In [27]:
print(stationIDs)

['504001', '443052', '643047', '703060', '183082', '184002', '443053', '553068', '10040059', '643220', '163120', '643042', '433364', '493229', '643444', '10031332', '643401', '493104', '213142', '433035', '433120', '013159', '10028945', '10028946', '013037', '10031430', '10031431', '683297', '023124', '093053', '10021451', '10039551', '10049055', '10022318', '663045', '493056', '493058', '493057', '583164', '043122', '673119', '10012421', '10020976', '443373', '043174', '433354', '033182', '443324', '073067', '073122', '663112', '453282', '494002', '383209', '643121', '353077', '563058', '663050', '693104', '10049162', '663128', '443187', '033139', '433372', '213186', '693041', '433247', '493122', '443121', '693106', '593067', '143311', '033137', '143122', '033134', '033131', '143034', '033130', '033133', '10048426', '10049214', '033132', '10048427', '083044', '233117', '10039772', '643193', '433300', '643050', '663167', '373416', '073063', '493144', '493106', '443056', '673206', '673226', '513151', '073123', '033171', '373135', '443007', '703015', '703097', '643225', '443055', '593076', '493107', '10047715', '10047714', '663129', '033186', '10045051', '10045049', '10045052', '10045050', '10045053', '10045044', '10045045', '10045046', '10045047', '10045048', '10045039', '10045040', '10045041', '10045042', '10045043', '383185', '643165', '643510', '013007', '493145', '643125', '073061', '643051', '443033', '073056', '343068', '243018', '643478', '073099', '073131', '073124', '073130', '443057', '583094', '643467', '10048295', '443058', '583162', '253124', '643126', '453121', '443399', '443060', '583030', '643446', '10051010', '523132', '443059', '163237', '10043383', '493126', '493163', '10043748', '493114', '493115', '043154', '443062', '643053', '643341', '083043', '433252', '653219', '433081', '643445', '10048852', '043158', '693046', '10048454', '643194', '523120', '443065', '10014660', '703116', '363064', '10020502', '10048393', '10048394', '043071', '513121', '213137', '10044750', '383053', '10048094', '013040', '013039', '303055', '10007705', '643469', '643195', '023055', '643055', '363036', '363120', '563057', '303059', '553072', '10007717', '10049493', '264004', '613121', '10048851', '643470', '10049261', '493108', '10047738', '10047743', '10047736', '10047740', '10047742', '10047741', '433366', '643459', '10049512', '10048445', '153112', '443071', '543247', '353095', '553071', '583092', '643415', '264005', '073051', '443075', '10049082', '513098', '643230', '10021091', '383121', '503139', '693100', '693044', '583204', '10044125', '253189', '643407', '643177', '073093', '043159', '213121', '643471', '443123', '10039138', '683371', '013148', '433072', '443081', '10044915', '10047505', '213044', '603120', '163392', '443083', '643057', '693093', '10047822', '203079', '473024', '643041', '643578', '643620', '10048587', '10041762', '10046874', '10043752', '10043787', '10043760', '10043753', '10043754', '10043756', '10043755', '10043761', '663105', '013145', '263151', '353094', '073086', '443087', '493055', '493063', '643058', '653215', '10031264', '10031263', '10041431', '073118', '573121', '10034776', '073111', '443089', '043126', '10007750', '444008', '443091', '163091', '673120', '343044', '643059', '033208', '073096', '10047621', '663132', '663133', '10048308', '573060', '10048310', '10048309', '10048307', '343067', '043077', '643178', '10029392', '10029394', '10042177', '683258', '313121', '10043673', '10043702', '443351', '10021086', '10033495', '443310', '033210', '263044', '263045', '10014825', '603458', '644015', '443358', '10029440', '443094', '363037', '343120', '10043680', '433367', '10044620', '073076', '643063', '10021087', '10048432', '193037', '643173', '013008', '443096', '643320', '10044617', '10044618', '10044616', '10039552', '263161', '073077', '073081', '10038255', '263043', '643233', '643129', '443097', '043078', '643449', '203076', '10044688', '10044689', '153160', '643065', '643482', '10033702', '443098', '013030', '443099', '683122', '143123', '10020985', '713246', '10046890', '443100', '213138', '493202', '013018', '673202', '193010', '443306', '363035', '653122', '443103', '443125', '693089', '443479', '043152', '383100', '703052', '263124', '433082', '663116', '383277', '683123', '013142', '10049242', '244002', '10044562', '243024', '263138', '10022808', '033177', '593044', '343123', '673208', '433282', '653123', '074012', '10021525', '243021', '243049', '10049077', '493081', '433337', '073078', '643066', '643434', '10048452', '10049514', '10037628', '043093', '493099', '353091', '093115', '193047', '043148', '10044862', '10044861', '443107', '363068', '643512', '043079', '10048189', '10048190', '363229', '443386', '443489', '313031', '10031527', '443480', '033142', '493078', '263179', '643488', '333231', '10043135', '383256', '643196', '10040705', '443340', '10030015', '10029030', '353075', '093102', '10039137', '093104', '653289', '303053', '433371', '493071', '643197', '443111', '10033960', '363125', '10042003', '493139', '10046892', '10044838', '10033959', '10044837', '10044839', '10042010', '10033958', '583167', '683170', '643466', '443043', '133419', '693107', '10049228', '643489', '553069', '443113', '643200', '594004', '10007674', '643472', '353090', '10041851', '10034335', '633124', '433078', '073054', '583134', '10021272', '013152', '013178', '10037090', '643070', '10038725', '153121', '363309', '443116', '643235', '443129', '433283', '10047749', '10047746', '10047748', '10043429', '643334', '643451', '203059', '193006', '10044580', '10044581', '10044579', '443117', '10048605', '10048606', '693095', '593068', '313030', '703103', '10044894', '10044895', '10047091', '10047087', '403008', '583077', '583071', '10033392', '583067', '583072', '583046', '10033577', '10038981', '10038983', '10038982', '10037854', '10037855', '583097', '10038985', '10044724', '583066', '683125', '683171', '513087', '643206', '10042274', '10042273', '10042173', '10042174', '353052', '273120', '653121', '104494', '713257', '713258', '713255', '713291', '10043992', '10043994', '583096', '583109', '583095', '043075', '573055', '033159', '503205', '10043734', '10043733', '603311', '143274', '503140', '613187', '673225', '023057', '703026', '443413', '683124', '10021610', '10042264', '133122', '10042263', '283119', '10022780', '503154', '653255', '213123', '353208', '563121', '303121', '10048818', '133318', '10046986', '10031991', '10031720', '173121', '10031500', '173228', '213124', '163125', '353089', '208', '10042267', '10032371', '133538', '133123', '10047487', '10047241', '10047242', '10047230', '10047299', '033191', '10044936', '10044938', '10044937', '703036', '703037', '703038', '703041', '663155', '663151', '163394', '383125', '10048443', '263143', '643071', '10021261', '043135', '043137', '043138', '353179', '583108', '243056', '10014912', '573124', '10044164', '573131', '573205', '573129', '283122', '10020914', '303128', '393140', '013038', '10048430', '033205', '443408', '423126', '653216', '133125', '10042265', '10042266', '10048872', '10046857', '043157', '133320', '10046787', '10046788', '713243', '713245', '104474', '713302', '714005', '713244', '713328', '713329', '713335', '713347', '713352', '713247', '203165', '10042888', '10042889', '10034449', '10046887', '10046888', '10046889', '713304', '10042919', '10042879', '10042920', '10042921', '583165', '113077', '10028900', '10042586', '10029002', '10031185', '10031184', '10007596', '10007595', '10042253', '093096', '093131', '10039943', '10039945', '093159', '093160', '10028991', '10033585', '10031261', '493142', '443201', '10022550', '113075', '163238', '443332', '433207', '10048436', '10044615', '10029807', '403110', '404007', '10043845', '403109', '10043841', '10043842', '10043840', '403113', '403108', '10043838', '10043837', '10043839', '403112', '403114', '403111', '10043836', '10043835', '10043834', '10029680', '10042200', '10042202', '403107', '403106', '10043832', '10043830', '433365', '10014910', '543245', '303126', '10021425', '213043', '053668', '693092', '10037171', '10048424', '073094', '643074', '643385', '643597', '10041913', '443132', '10040970', '443204', '673122', '10044810', '10046779', '10046780', '673129', '10044811', '10044812', '10046782', '10046786', '10044809', '10044808', '10046784', '10044813', '10044814', '10046785', '643239', '033184', '603441', '443205', '673250', '243022', '703031', '433368', '643461', '713249', '10047088', '10047086', '10047316', '10047318', '10047085', '213042', '383095', '10043373', '263127', '643075', '213158', '663114', '643381', '033241', '583061', '643077', '613076', '643170', '643172', '643557', '643171', '643078', '644062', '10021450', '073121', '243023', '073049', '073048', '10033438', '443208', '643238', '693197', '10044979', '10044983', '10044984', '10044985', '10044986', '10044987', '663090', '073050', '043083', '203077', '643080', '353122', '703016', '363310', '593003', '443210', '493102', '443359', '10029045', '093123', '663088', '663062', '663091', '663092', '663118', '703056', '10029027', '263178', '493080', '023060', '033178', '593002', '073125', '193016', '583159', '643081', '193027', '10048321', '10048322', '10048323', '643326', '493073', '073043', '493103', '643082', '10021838', '10021839', '10021840', '10031424', '10031425', '583149', '043037', '443215', '663059', '663101', '683255', '443409', '683260', '343148', '593071', '10021469', '283201', '10042077', '10042079', '10042078', '10042080', '10042081', '643240', '033161', '033185', '253168', '214013', '10048433', '10048049', '10043650', '10047708', '213162', '383093', '10044889', '10044890', '163123', '643293', '643417', '10047200', '433123', '443217', '493166', '433074', '10012273', '10047974', '643247', '643135', '10031658', '10047983', '643460', '10047978', '10047981', '10047985', '10047980', '10047982', '10047984', '10047979', '693099', '443194', '443220', '443314', '623121', '703027', '693098', '263149', '343135', '013029', '663054', '10047975', '503126', '643084', '013133', '10047725', '553070', '443221', '693091', '343154', '443482', '663166', '443222', '103119', '443289', '10049581', '263126', '263177', '643295', '10042259', '10042260', '443469', '043035', '683253', '663052', '653124', '663115', '643243', '663102', '10048908', '443195', '653125', '043086', '10048191', '10048192', '693094', '10047821', '023062', '073095', '163381', '443134', '443173', '663099', '163300', '10044902', '10044898', '10044900', '10044896', '10044901', '10044899', '693121', '573079', '10032129', '193951', '10034812', '643088', '583086', '683168', '343153', '194009', '703066', '643245', '10039999', '10042091', '10042092', '10042090', '10042093', '643487', '073046', '10043980', '283202', '10048465', '433079', '643137', '043087', '513088', '643089', '683129', '043113', '043114', '043115', '043111', '10043421', '643090', '583168', '583169', '583170', '10044708', '693090', '073134', '643635', '683137', '193950', '10048640', '10048641', '10048642', '493105', '643297', '513079', '643249', '663103', '10048315', '10048316', '10048317', '10048318', '10048319', '10048320', '643140', '643430', '643435', '443232', '493148', '10042608', '443233', '073139', '683139', '683448', '683302', '10044716', '10021231', '683142', '683303', '683305', '683306', '683304', '443139', '10040051', '693096', '683202', '643179', '693087', '10047823', '693105', '643251', '303122', '443235', '643252', '443236', '263056', '113078', '013147', '013051', '193012', '493074', '433071', '703014', '443478', '443140', '443488', '443476', '443514', '593040', '10039141', '013144', '10030218', '10031335', '10031334', '443544', '443470', '563081', '163393', '013169', '10029567', '10033457', '683143', '10033632', '043150', '643145', '353123', '503120', '443237', '433248', '213128', '10047119', '10047120', '10047121', '043116', '363078', '10047819', '363359', '10047820', '513095', '673123', '373390', '10048165', '703019', '683201', '703061', '593043', '213131', '263036', '10042261', '10042262', '643094', '493097', '443242', '443406', '703057', '653217', '10020988', '10017218', '643164', '643095', '074026', '643146', '10021821', '10048314', '693097', '493147', '073126', '194004', '10048460', '703013', '033187', '663055', '553133', '553136', '653296', '653220', '303050', '643421', '643420', '683325', '10020972', '243039', '553134', '10043478', '10044815', '643255', '693124', '433075', '603312', '603459', '443244', '283223', '033140', '163383', '10044854', '10044856', '10044855', '10048365', '10048364', '10044857', '10044860', '10044859', '433369', '10047710', '10047711', '10047706', '10047703', '10047704', '443453', '10043987', '10042611', '10048434', '263057', '10047717', '10029957', '10044883', '10033450', '653218', '653231', '10044885', '10044884', '033192', '033180', '033181', '10044879', '10044880', '10044881', '10044882', '10031154', '503134', '213132', '043161', '103132', '643254', '283123', '643617', '343126', '073041', '643455', '343131', '433061', '10047726', '443247', '513126', '593045', '073039', '083033', '493082', '693043', '10034748', '213062', '093070', '553111', '10046861', '10048456', '163299', '10031157', '043156', '10048238', '10048239', '073080', '553067', '583047', '493208', '443248', '033143', '10034771', '10021038', '10034773', '10034770', '10034774', '10034768', '393153', '343132', '643102', '683251', '693025', '034012', '193039', '443251', '353168', '443253', '643160', '693034', '443255', '643384', '593072', '10044690', '593145', '593154', '593153', '10048413', '313029', '663010', '443256', '10021841', '10028947', '10028960', '643515', '643563', '363311', '043162', '10037641', '633129', '473013', '643103', '683145', '673203', '693084', '213017', '033100', '703100', '303123', '703018', '10012329', '363312', '113079', '443258', '143348', '143344', '043089', '583124', '663053', '583156', '10043374', '643104', '643105', '513128', '443260', '443330', '643419', '643257', '643106', '663104', '10044687', '10044685', '10044686', '10046960', '543120', '643428', '693029', '10044629', '10044628', '10044627', '663143', '663144', '663145', '663146', '663148', '663147', '663149', '583064', '583113', '643261', '263160', '583101', '583048', '583171', '043170', '583102', '443263', '513097', '643110', '073040', '353195', '683250', '10021413', '363038', '243019', '503141', '10033703', '643360', '443264', '10021157', '563056', '643457', '163236', '163235', '033193', '643107', '643631', '643458', '10037680', '263142', '663051', '643260', '074031', '543246', '693180', '693028', '133461', '10047636', '443142', '443471', '643267', '433363', '693086', '643109', '10044279', '443270', '113076', '443456', '073059', '043092', '10033688', '173215', '173214', '173216', '10048859', '643339', '114002', '693088', '10048442', '10021253', '583055', '033152', '443272', '473021', '10049513', '383096', '443274', '523122', '583103', '583105', '583104', '443144', '10048237', '443146', '443468', '643113', '383054', '443277', '443278', '433085', '10028988', '503135', '653277', '10044914', '10041763', '213064', '353102', '363030', '513133', '263059', '263048', '263049', '10019764', '263050', '263052', '263182', '653214', '043153', '393009', '073060', '044029', '253127', '093140', '443147', '443391', '663127', '433040', '10037638', '10048464', '10047203', '10048466', '10048431', '10020860', '10048455', '10048210', '10048435', '10048444', '10048447', '10048450', '643114', '10021835', '10021836', '10021837', '10031426', '10031427', '033194', '043129', '643268', '443280', '683376', '663058', '10048887', '683256', '683259', '343136', '10012242', '163376', '263046', '033175', '10030730', '033195', '643411', '213040', '643573', '443281', '303130', '073100', '443283', '10037637', '644049', '212030', '493149', '493131', '493098', '443302', '643117', '10028838', '453283', '523117', '723125', '073083', '073082', '263037', '10044715', '313170', '193015', '10046810', '443447', '193017', '443284', '10047627', '10046835', '443319', '10043704', '443166', '693085', '363067', '10051011', '433070', '493079', '643272', '593121', '693081', '343151', '393018', '573058', '703034', '643593', '643638', '583088', '443285', '643426', '163388', '163389', '653126', '653234', '653139', '653140', '643273', '363286', '393136', '393139', '263034', '10021042', '10044893', '10030313', '493116', '523124', '443196', '583089', '514017', '503042', '503003', '373024', '703067', '203058', '10014867', '013143', '10030260', '073044', '393017', '383255', '10028832', '643180', '073079', '333254', '693101']

In [216]:
# Report url example: stationNo, year1=1950&year2=2017 (regardless of most recent data)
# http://dnrx.wisconsin.gov/swims/public/reporting.do?type=58&action=post&stationNo=013159&year1=1950&year2=2017&format=csv
# http://dnrx.wisconsin.gov/swims/public/reporting.do?type=58&action=post&stationNo=10021087&year1=1950&year2=2017&format=csv
# http://dnrx.wisconsin.gov/swims/public/reporting.do?type=58&action=post&stationNo=013178&year1=1950&year2=2017&format=csv
# http://dnrx.wisconsin.gov/swims/public/reporting.do?type=58&action=post&stationNo=273120&year1=1950&year2=2017&format=csv

In [28]:
# Get the reports

report_url = 'http://dnrx.wisconsin.gov/swims/public/reporting.do?type=58&action=post&stationNo=' + \
             str(stationIDs[1]) + '&year1=1950&year2=2017&format=csv'
print(report_url)

import urllib.request

original_report_name = './data/wi-lakes/report_'+str(stationIDs[1])+'.csv'
urllib.request.urlretrieve(report_url, original_report_name)

http://dnrx.wisconsin.gov/swims/public/reporting.do?type=58&action=post&stationNo=443052&year1=1950&year2=2017&format=csv

('./data/wi-lakes/report_443052.csv',
 <http.client.HTTPMessage at 0x26681115ba8>)

Clean downloaded reports

In [29]:
# Clean report file

f = open(original_report_name,'r')
lines = f.readlines()
f.close()
goodlines = []
start = 0
for i in range(len(lines)):
    if "Chlorophyll" in lines[i]:
        start = i
    if start > 0:
        if lines[i].strip().replace(",","") == "":
            goodlines = lines[start:i]
            break

In [39]:
wbic = lines[4].split(',')[2]
print(wbic)

967400

In [33]:
cleanlines=[]
for i in range(len(goodlines)):
    cleanlines.append(goodlines[i].replace('1-Beautiful, could not be nicer', '1-beautiful'))
print("\n".join(cleanlines))

Group Seq No, Start Date, Secchi (Feet),Secchi Hit Bottom?,Secchi (Meters),Chlorophyll(ug/l),Total Phosphorus(ug/l),Secchi TSI,Total Phosphorus TSI,Chlorophyll TSI,Lake Level,Staff Gauge,Appearance,Color,Perception

1,08/16/1979,,,,,,,,,,,,,

7000068,08/29/2001,,,,5.8,,,,48,,,,,

8188599,08/29/2001,3,NO,0.9,,,61,,,,,,,

1,08/14/2007,5.1,NO,1.55,3.54,29,54,54,44,,,,,

83293435,08/17/2013,4.75,NO,1.4,,,55,,,NORMAL,3,CLEAR,BROWN,2-Very minor aesthetic problems

83293435,09/03/2013,4,NO,1.2,,,57,,,NORMAL,,CLEAR,BROWN,2-Very minor aesthetic problems

83293435,07/01/2014,4.25,NO,1.3,,,56,,,HIGH,,CLEAR,BROWN,1-beautiful

83293435,07/10/2014,4.25,NO,1.3,,,56,,,HIGH,,CLEAR,BROWN,2-Very minor aesthetic problems

83293435,08/02/2014,4.25,NO,1.3,,,56,,,NORMAL,,CLEAR,BROWN,2-Very minor aesthetic problems

83293435,08/08/2014,5,NO,1.5,,,54,,,NORMAL,,CLEAR,BROWN,2-Very minor aesthetic problems

83293435,08/31/2014,4, ,1.2,,,57,,,NORMAL,,CLEAR,GREEN,2-Very minor aesthetic problems

83293435,09/09/2014,3.75,NO,1.1,,,58,,,HIGH,,CLEAR,BROWN,2-Very minor aesthetic problems

83293435,06/25/2015,4.3,NO,1.3,,,56,,,HIGH,,CLEAR,BROWN,2-Very minor aesthetic problems

83293435,07/04/2015,4.5,NO,1.4,,,55,,,HIGH,,CLEAR,BROWN,1-beautiful

83293435,07/11/2015,4.25,NO,1.3,,,56,,,NORMAL,,CLEAR,BROWN,2-Very minor aesthetic problems

83293435,07/17/2015,5,NO,1.5,,,54,,,NORMAL,,CLEAR,BROWN,2-Very minor aesthetic problems

83293435,08/14/2015,4.5,NO,1.4,,,55,,,LOW,,CLEAR,BROWN,2-Very minor aesthetic problems

83293435,09/03/2015,5,NO,1.5,,,54,,,NORMAL,,CLEAR,BROWN,2-Very minor aesthetic problems

103119417,09/09/2015,22,NO,6.7,,,33,,,NORMAL,,CLEAR,GREEN,1-beautiful

83293435,09/25/2015,4.75,NO,1.4,,,55,,,NORMAL,,CLEAR,BROWN,2-Very minor aesthetic problems

83293435,11/08/2015,5,NO,1.5,,,54,,,HIGH,,CLEAR,BROWN,2-Very minor aesthetic problems

83293435,11/29/2015,, ,,,,,,,,,,,

83293435,12/17/2015,, ,,,,,,,,,,,

83293435,05/06/2016,4,NO,1.2,,,57,,,HIGH,,CLEAR,BROWN,2-Very minor aesthetic problems

83293435,07/03/2016,5,NO,1.5,,,54,,,HIGH,,CLEAR,BROWN,2-Very minor aesthetic problems

83293435,09/22/2016,2.5,NO,0.8,,,64,,,HIGH,,CLEAR,BROWN,2-Very minor aesthetic problems

83293435,10/01/2016,3,NO,0.9,,,61,,,HIGH,,CLEAR,BROWN,2-Very minor aesthetic problems

83293435,07/31/2017,5,NO,1.5,,,54,,,NORMAL,,CLEAR,BROWN,2-Very minor aesthetic problems

83293435,09/29/2017,4.5,NO,1.4,,,55,,,NORMAL,,CLEAR,BROWN,2-Very minor aesthetic problems

In [70]:
clean_report_name = './data/wi-lakes/report_'+str(stationIDs[1])+'clean.csv'   

f = open(clean_report_name,'w')      
f.writelines(cleanlines)
f.close()

In [80]:
df = pd.read_csv(clean_report_name,sep=",")

In [82]:
# clean column names
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '_').str.replace(')', '')
df['wbic'] = wbic
df.head()

,group_seq_no,start_date,secchi__feet,secchi_hit_bottom?,secchi__meters,chlorophyll_ug/l,total_phosphorus_ug/l,secchi_tsi,total_phosphorus_tsi,chlorophyll_tsi,lake_level,staff_gauge,appearance,color,perception,wbic
0,1,08/16/1979,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,967400
1,7000068,08/29/2001,NaN,NaN,NaN,5.80,NaN,NaN,NaN,48.0,NaN,NaN,NaN,NaN,NaN,967400
2,8188599,08/29/2001,3.00,NO,0.90,NaN,NaN,61.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,967400
3,1,08/14/2007,5.10,NO,1.55,3.54,29.0,54.0,54.0,44.0,NaN,NaN,NaN,NaN,NaN,967400
4,83293435,08/17/2013,4.75,NO,1.40,NaN,NaN,55.0,NaN,NaN,NORMAL,3.0,CLEAR,BROWN,2-Very minor aesthetic problems,967400

In [83]:
df.drop(['perception'], axis=1)

,group_seq_no,start_date,secchi__feet,secchi_hit_bottom?,secchi__meters,chlorophyll_ug/l,total_phosphorus_ug/l,secchi_tsi,total_phosphorus_tsi,chlorophyll_tsi,lake_level,staff_gauge,appearance,color,wbic
0,1,08/16/1979,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,967400
1,7000068,08/29/2001,NaN,NaN,NaN,5.80,NaN,NaN,NaN,48.0,NaN,NaN,NaN,NaN,967400
2,8188599,08/29/2001,3.00,NO,0.90,NaN,NaN,61.0,NaN,NaN,NaN,NaN,NaN,NaN,967400
3,1,08/14/2007,5.10,NO,1.55,3.54,29.0,54.0,54.0,44.0,NaN,NaN,NaN,NaN,967400
4,83293435,08/17/2013,4.75,NO,1.40,NaN,NaN,55.0,NaN,NaN,NORMAL,3.0,CLEAR,BROWN,967400
5,83293435,09/03/2013,4.00,NO,1.20,NaN,NaN,57.0,NaN,NaN,NORMAL,NaN,CLEAR,BROWN,967400
6,83293435,07/01/2014,4.25,NO,1.30,NaN,NaN,56.0,NaN,NaN,HIGH,NaN,CLEAR,BROWN,967400
7,83293435,07/10/2014,4.25,NO,1.30,NaN,NaN,56.0,NaN,NaN,HIGH,NaN,CLEAR,BROWN,967400
8,83293435,08/02/2014,4.25,NO,1.30,NaN,NaN,56.0,NaN,NaN,NORMAL,NaN,CLEAR,BROWN,967400
9,83293435,08/08/2014,5.00,NO,1.50,NaN,NaN,54.0,NaN,NaN,NORMAL,NaN,CLEAR,BROWN,967400
10,83293435,08/31/2014,4.00,,1.20,NaN,NaN,57.0,NaN,NaN,NORMAL,NaN,CLEAR,GREEN,967400
11,83293435,09/09/2014,3.75,NO,1.10,NaN,NaN,58.0,NaN,NaN,HIGH,NaN,CLEAR,BROWN,967400
12,83293435,06/25/2015,4.30,NO,1.30,NaN,NaN,56.0,NaN,NaN,HIGH,NaN,CLEAR,BROWN,967400
13,83293435,07/04/2015,4.50,NO,1.40,NaN,NaN,55.0,NaN,NaN,HIGH,NaN,CLEAR,BROWN,967400
14,83293435,07/11/2015,4.25,NO,1.30,NaN,NaN,56.0,NaN,NaN,NORMAL,NaN,CLEAR,BROWN,967400
15,83293435,07/17/2015,5.00,NO,1.50,NaN,NaN,54.0,NaN,NaN,NORMAL,NaN,CLEAR,BROWN,967400
16,83293435,08/14/2015,4.50,NO,1.40,NaN,NaN,55.0,NaN,NaN,LOW,NaN,CLEAR,BROWN,967400
17,83293435,09/03/2015,5.00,NO,1.50,NaN,NaN,54.0,NaN,NaN,NORMAL,NaN,CLEAR,BROWN,967400
18,103119417,09/09/2015,22.00,NO,6.70,NaN,NaN,33.0,NaN,NaN,NORMAL,NaN,CLEAR,GREEN,967400
19,83293435,09/25/2015,4.75,NO,1.40,NaN,NaN,55.0,NaN,NaN,NORMAL,NaN,CLEAR,BROWN,967400
20,83293435,11/08/2015,5.00,NO,1.50,NaN,NaN,54.0,NaN,NaN,HIGH,NaN,CLEAR,BROWN,967400
21,83293435,11/29/2015,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,967400
22,83293435,12/17/2015,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,967400
23,83293435,05/06/2016,4.00,NO,1.20,NaN,NaN,57.0,NaN,NaN,HIGH,NaN,CLEAR,BROWN,967400
24,83293435,07/03/2016,5.00,NO,1.50,NaN,NaN,54.0,NaN,NaN,HIGH,NaN,CLEAR,BROWN,967400
25,83293435,09/22/2016,2.50,NO,0.80,NaN,NaN,64.0,NaN,NaN,HIGH,NaN,CLEAR,BROWN,967400
26,83293435,10/01/2016,3.00,NO,0.90,NaN,NaN,61.0,NaN,NaN,HIGH,NaN,CLEAR,BROWN,967400
27,83293435,07/31/2017,5.00,NO,1.50,NaN,NaN,54.0,NaN,NaN,NORMAL,NaN,CLEAR,BROWN,967400
28,83293435,09/29/2017,4.50,NO,1.40,NaN,NaN,55.0,NaN,NaN,NORMAL,NaN,CLEAR,BROWN,967400

### extras

In [ ]:
from html_table_parser import parser_functions as parse

station_url = 'https://dnr.wi.gov/lakes/clmn/Stations.aspx?location=0'
station_html = requests.get(station_url)

station_soup = bs(station_html.text, "html.parser")
station_table = station_soup.find('table',  { "class" : "greysuitsyou" })
station_twod_array = parse.make2d(station_table)

# print 2D array
print(len(station_twod_array))

stations=[]
for i in range(2,len(station_twod_array)-1):
    stations.append(station_twod_array[i][1])

print(stations)

In [ ]:
# get station ID
stationIDs = []
def access_chla_reports():
    for i in range(0,len(counties)):
        station_url = 'https://dnr.wi.gov/lakes/clmn/Stations.aspx?location='+str(i+1)
        #print(station_url)
        station_html = requests.get(station_url)
        station_soup = bs(station_html.text, "html.parser")
        station_table = station_soup.find('table',  { "class" : "greysuitsyou" })
        if station_table == None:
            print('location '+str(i+1) + ' ' + counties[i] + ' has no lakes.')
        else:
            station_twod_array = parse.make2d(station_table)
            for n in range(2,len(station_twod_array)-1):
                stationIDs.append(station_twod_array[n][1])
            #print('location '+str(i+1) + ' ' + counties[i] + ' has ' + str(len(station_twod_array)) + ' stations.')