In [58]:
# Import the Earth Engine Python Package
import ee
from IPython.display import Image
import pprint
import ast
import pandas as pd

# Configure the pretty printing output.
pp = pprint.PrettyPrinter(depth=4)

# Initialize the Earth Engine object, using the authentication credentials.
ee.Initialize()

In [59]:
taihu = pd.read_csv('./data/chla_taihu.csv')
taihu['record_date'] = pd.to_datetime(taihu.record_date)

In [60]:
from datetime import timedelta
offset = timedelta(days=7)

In [61]:
taihu['image_start_date'] = taihu.record_date - offset
taihu['image_end_date'] = taihu.record_date + offset

In [83]:
taihu.image_start_date.sort_values()

107   2011-08-04
218   2011-08-04
48    2011-08-04
268   2011-08-04
162   2011-08-04
11    2011-08-04
243   2011-08-04
376   2011-08-04
294   2011-08-04
129   2011-08-04
78    2011-08-04
219   2011-08-11
270   2011-08-11
382   2011-08-11
235   2011-08-11
113   2011-08-11
171   2011-08-11
8     2011-08-11
293   2011-08-11
139   2011-08-11
76    2011-08-11
52    2011-08-11
166   2011-12-06
70    2011-12-06
89    2011-12-06
204   2011-12-06
43    2011-12-06
109   2011-12-06
146   2011-12-06
377   2011-12-06
         ...
340   2013-11-15
352   2013-11-15
335   2013-11-15
189   2014-02-15
392   2014-02-15
4     2014-02-15
297   2014-02-15
281   2014-02-15
306   2014-02-15
346   2014-02-15
354   2014-02-15
260   2014-02-15
33    2014-02-15
313   2014-02-15
133   2014-02-15
157   2014-02-15
57    2014-02-15
232   2014-02-15
344   2014-02-15
325   2014-02-15
328   2014-02-15
122   2014-02-15
153   2014-02-15
203   2014-02-15
172   2014-02-15
338   2014-02-15
96    2014-02-15
366   2014-02-15
320   2014-02-15
85    2014-02-15
Name: image_start_date, Length: 396, dtype: datetime64[ns]

In [63]:
taihu

,record_date,station,chla,coordinates,image_start_date,image_end_date
0,2013-05-13,0,1.5,"[120.19067,31.51317]",2013-05-06,2013-05-20
1,2013-06-17,0,1.5,"[120.19067,31.51317]",2013-06-10,2013-06-24
2,2012-05-14,0,2.4,"[120.19067,31.51317]",2012-05-07,2012-05-21
3,2012-11-18,0,2.4,"[120.19067,31.51317]",2012-11-11,2012-11-25
4,2014-02-22,0,2.8,"[120.19067,31.51317]",2014-02-15,2014-03-01
5,2012-03-14,0,3.4,"[120.19067,31.51317]",2012-03-07,2012-03-21
6,2011-12-13,0,3.7,"[120.19067,31.51317]",2011-12-06,2011-12-20
7,2012-10-19,0,4.0,"[120.19067,31.51317]",2012-10-12,2012-10-26
8,2011-08-18,0,4.2,"[120.19067,31.51317]",2011-08-11,2011-08-25
9,2013-01-15,0,4.6,"[120.19067,31.51317]",2013-01-08,2013-01-22
10,2013-02-28,0,6.2,"[120.19067,31.51317]",2013-02-21,2013-03-07
11,2011-08-11,0,6.9,"[120.19067,31.51317]",2011-08-04,2011-08-18
12,2012-01-13,0,7.3,"[120.19067,31.51317]",2012-01-06,2012-01-20
13,2012-02-13,0,7.3,"[120.19067,31.51317]",2012-02-06,2012-02-20
14,2012-02-14,0,7.3,"[120.19067,31.51317]",2012-02-07,2012-02-21
15,2012-06-14,0,7.5,"[120.19067,31.51317]",2012-06-07,2012-06-21
16,2012-12-19,0,8.3,"[120.19067,31.51317]",2012-12-12,2012-12-26
17,2013-11-21,0,8.3,"[120.19067,31.51317]",2013-11-14,2013-11-28
18,2013-08-22,0,9.2,"[120.19067,31.51317]",2013-08-15,2013-08-29
19,2012-09-13,0,9.4,"[120.19067,31.51317]",2012-09-06,2012-09-20
20,2013-03-16,0,11.2,"[120.19067,31.51317]",2013-03-09,2013-03-23
21,2013-08-22,1,2.7,"[120.19433,31.47633]",2013-08-15,2013-08-29
22,2013-02-28,1,2.9,"[120.19433,31.47633]",2013-02-21,2013-03-07
23,2011-12-13,1,3.6,"[120.19433,31.47633]",2011-12-06,2011-12-20
24,2012-11-18,1,3.7,"[120.19433,31.47633]",2012-11-11,2012-11-25
25,2013-01-15,1,4.1,"[120.19433,31.47633]",2013-01-08,2013-01-22
26,2012-05-14,1,4.2,"[120.19433,31.47633]",2012-05-07,2012-05-21
27,2012-10-19,1,4.3,"[120.19433,31.47633]",2012-10-12,2012-10-26
28,2012-09-13,1,5.0,"[120.19433,31.47633]",2012-09-06,2012-09-20
29,2013-04-15,1,5.0,"[120.19433,31.47633]",2013-04-08,2013-04-22
...,...,...,...,...,...,...
366,2014-02-22,25,9.8,"[120.241535,31.353396]",2014-02-15,2014-03-01
367,2013-03-16,25,10.3,"[120.241535,31.353396]",2013-03-09,2013-03-23
368,2012-02-13,25,11.4,"[120.241535,31.353396]",2012-02-06,2012-02-20
369,2012-02-14,25,11.4,"[120.241535,31.353396]",2012-02-07,2012-02-21
370,2013-04-15,25,12.7,"[120.241535,31.353396]",2013-04-08,2013-04-22
371,2013-08-22,25,13.3,"[120.241535,31.353396]",2013-08-15,2013-08-29
372,2013-02-27,25,16.5,"[120.241535,31.353396]",2013-02-20,2013-03-06
373,2013-06-17,26,0.6,"[120.14594,31.4068]",2013-06-10,2013-06-24
374,2012-07-23,26,0.7,"[120.14594,31.4068]",2012-07-16,2012-07-30
375,2013-05-13,26,1.1,"[120.14594,31.4068]",2013-05-06,2013-05-20
376,2011-08-11,26,2.4,"[120.14594,31.4068]",2011-08-04,2011-08-18
377,2011-12-13,26,3.3,"[120.14594,31.4068]",2011-12-06,2011-12-20
378,2012-09-13,26,3.4,"[120.14594,31.4068]",2012-09-06,2012-09-20
379,2013-03-16,26,3.8,"[120.14594,31.4068]",2013-03-09,2013-03-23
380,2013-01-15,26,4.2,"[120.14594,31.4068]",2013-01-08,2013-01-22
381,2012-11-18,26,4.7,"[120.14594,31.4068]",2012-11-11,2012-11-25
382,2011-08-18,26,5.2,"[120.14594,31.4068]",2011-08-11,2011-08-25
383,2012-10-19,26,5.6,"[120.14594,31.4068]",2012-10-12,2012-10-26
384,2012-05-14,26,6.1,"[120.14594,31.4068]",2012-05-07,2012-05-21
385,2012-03-14,26,7.0,"[120.14594,31.4068]",2012-03-07,2012-03-21
386,2013-04-15,26,7.2,"[120.14594,31.4068]",2013-04-08,2013-04-22
387,2012-12-19,26,9.3,"[120.14594,31.4068]",2012-12-12,2012-12-26
388,2013-08-22,26,11.1,"[120.14594,31.4068]",2013-08-15,2013-08-29
389,2012-02-13,26,13.7,"[120.14594,31.4068]",2012-02-06,2012-02-20
390,2012-02-14,26,13.7,"[120.14594,31.4068]",2012-02-07,2012-02-21
391,2013-02-27,26,14.3,"[120.14594,31.4068]",2013-02-20,2013-03-06
392,2014-02-22,26,15.0,"[120.14594,31.4068]",2014-02-15,2014-03-01
393,2012-06-14,26,15.2,"[120.14594,31.4068]",2012-06-07,2012-06-21
394,2012-01-13,26,19.3,"[120.14594,31.4068]",2012-01-06,2012-01-20
395,2013-11-21,26,27.6,"[120.14594,31.4068]",2013-11-14,2013-11-28

In [64]:
type(taihu.coordinates[0])

str

In [66]:
def getlist(string):
    return ast.literal_eval(string)

In [67]:
getlist('[120.19067,31.51317]')

[120.19067, 31.51317]

In [68]:
taihu['coordinates']=taihu.coordinates.apply(getlist)

In [69]:
taihu

,record_date,station,chla,coordinates,image_start_date,image_end_date
0,2013-05-13,0,1.5,"[120.19067, 31.51317]",2013-05-06,2013-05-20
1,2013-06-17,0,1.5,"[120.19067, 31.51317]",2013-06-10,2013-06-24
2,2012-05-14,0,2.4,"[120.19067, 31.51317]",2012-05-07,2012-05-21
3,2012-11-18,0,2.4,"[120.19067, 31.51317]",2012-11-11,2012-11-25
4,2014-02-22,0,2.8,"[120.19067, 31.51317]",2014-02-15,2014-03-01
5,2012-03-14,0,3.4,"[120.19067, 31.51317]",2012-03-07,2012-03-21
6,2011-12-13,0,3.7,"[120.19067, 31.51317]",2011-12-06,2011-12-20
7,2012-10-19,0,4.0,"[120.19067, 31.51317]",2012-10-12,2012-10-26
8,2011-08-18,0,4.2,"[120.19067, 31.51317]",2011-08-11,2011-08-25
9,2013-01-15,0,4.6,"[120.19067, 31.51317]",2013-01-08,2013-01-22
10,2013-02-28,0,6.2,"[120.19067, 31.51317]",2013-02-21,2013-03-07
11,2011-08-11,0,6.9,"[120.19067, 31.51317]",2011-08-04,2011-08-18
12,2012-01-13,0,7.3,"[120.19067, 31.51317]",2012-01-06,2012-01-20
13,2012-02-13,0,7.3,"[120.19067, 31.51317]",2012-02-06,2012-02-20
14,2012-02-14,0,7.3,"[120.19067, 31.51317]",2012-02-07,2012-02-21
15,2012-06-14,0,7.5,"[120.19067, 31.51317]",2012-06-07,2012-06-21
16,2012-12-19,0,8.3,"[120.19067, 31.51317]",2012-12-12,2012-12-26
17,2013-11-21,0,8.3,"[120.19067, 31.51317]",2013-11-14,2013-11-28
18,2013-08-22,0,9.2,"[120.19067, 31.51317]",2013-08-15,2013-08-29
19,2012-09-13,0,9.4,"[120.19067, 31.51317]",2012-09-06,2012-09-20
20,2013-03-16,0,11.2,"[120.19067, 31.51317]",2013-03-09,2013-03-23
21,2013-08-22,1,2.7,"[120.19433, 31.47633]",2013-08-15,2013-08-29
22,2013-02-28,1,2.9,"[120.19433, 31.47633]",2013-02-21,2013-03-07
23,2011-12-13,1,3.6,"[120.19433, 31.47633]",2011-12-06,2011-12-20
24,2012-11-18,1,3.7,"[120.19433, 31.47633]",2012-11-11,2012-11-25
25,2013-01-15,1,4.1,"[120.19433, 31.47633]",2013-01-08,2013-01-22
26,2012-05-14,1,4.2,"[120.19433, 31.47633]",2012-05-07,2012-05-21
27,2012-10-19,1,4.3,"[120.19433, 31.47633]",2012-10-12,2012-10-26
28,2012-09-13,1,5.0,"[120.19433, 31.47633]",2012-09-06,2012-09-20
29,2013-04-15,1,5.0,"[120.19433, 31.47633]",2013-04-08,2013-04-22
...,...,...,...,...,...,...
366,2014-02-22,25,9.8,"[120.241535, 31.353396]",2014-02-15,2014-03-01
367,2013-03-16,25,10.3,"[120.241535, 31.353396]",2013-03-09,2013-03-23
368,2012-02-13,25,11.4,"[120.241535, 31.353396]",2012-02-06,2012-02-20
369,2012-02-14,25,11.4,"[120.241535, 31.353396]",2012-02-07,2012-02-21
370,2013-04-15,25,12.7,"[120.241535, 31.353396]",2013-04-08,2013-04-22
371,2013-08-22,25,13.3,"[120.241535, 31.353396]",2013-08-15,2013-08-29
372,2013-02-27,25,16.5,"[120.241535, 31.353396]",2013-02-20,2013-03-06
373,2013-06-17,26,0.6,"[120.14594, 31.4068]",2013-06-10,2013-06-24
374,2012-07-23,26,0.7,"[120.14594, 31.4068]",2012-07-16,2012-07-30
375,2013-05-13,26,1.1,"[120.14594, 31.4068]",2013-05-06,2013-05-20
376,2011-08-11,26,2.4,"[120.14594, 31.4068]",2011-08-04,2011-08-18
377,2011-12-13,26,3.3,"[120.14594, 31.4068]",2011-12-06,2011-12-20
378,2012-09-13,26,3.4,"[120.14594, 31.4068]",2012-09-06,2012-09-20
379,2013-03-16,26,3.8,"[120.14594, 31.4068]",2013-03-09,2013-03-23
380,2013-01-15,26,4.2,"[120.14594, 31.4068]",2013-01-08,2013-01-22
381,2012-11-18,26,4.7,"[120.14594, 31.4068]",2012-11-11,2012-11-25
382,2011-08-18,26,5.2,"[120.14594, 31.4068]",2011-08-11,2011-08-25
383,2012-10-19,26,5.6,"[120.14594, 31.4068]",2012-10-12,2012-10-26
384,2012-05-14,26,6.1,"[120.14594, 31.4068]",2012-05-07,2012-05-21
385,2012-03-14,26,7.0,"[120.14594, 31.4068]",2012-03-07,2012-03-21
386,2013-04-15,26,7.2,"[120.14594, 31.4068]",2013-04-08,2013-04-22
387,2012-12-19,26,9.3,"[120.14594, 31.4068]",2012-12-12,2012-12-26
388,2013-08-22,26,11.1,"[120.14594, 31.4068]",2013-08-15,2013-08-29
389,2012-02-13,26,13.7,"[120.14594, 31.4068]",2012-02-06,2012-02-20
390,2012-02-14,26,13.7,"[120.14594, 31.4068]",2012-02-07,2012-02-21
391,2013-02-27,26,14.3,"[120.14594, 31.4068]",2013-02-20,2013-03-06
392,2014-02-22,26,15.0,"[120.14594, 31.4068]",2014-02-15,2014-03-01
393,2012-06-14,26,15.2,"[120.14594, 31.4068]",2012-06-07,2012-06-21
394,2012-01-13,26,19.3,"[120.14594, 31.4068]",2012-01-06,2012-01-20
395,2013-11-21,26,27.6,"[120.14594, 31.4068]",2013-11-14,2013-11-28

In [70]:
type(taihu.coordinates[0])

list

In [88]:
#Landsat 5: Jan 1, 1984 - May 5, 2012
landsat5_end = pd.to_datetime('05/05/2012')

In [90]:
taihu_ls5 = taihu[taihu.image_end_date <= landsat5_end]

In [91]:
taihu_ls5

,record_date,station,chla,coordinates,image_start_date,image_end_date
5,2012-03-14,0,3.4,"[120.19067, 31.51317]",2012-03-07,2012-03-21
6,2011-12-13,0,3.7,"[120.19067, 31.51317]",2011-12-06,2011-12-20
8,2011-08-18,0,4.2,"[120.19067, 31.51317]",2011-08-11,2011-08-25
11,2011-08-11,0,6.9,"[120.19067, 31.51317]",2011-08-04,2011-08-18
12,2012-01-13,0,7.3,"[120.19067, 31.51317]",2012-01-06,2012-01-20
13,2012-02-13,0,7.3,"[120.19067, 31.51317]",2012-02-06,2012-02-20
14,2012-02-14,0,7.3,"[120.19067, 31.51317]",2012-02-07,2012-02-21
23,2011-12-13,1,3.6,"[120.19433, 31.47633]",2011-12-06,2011-12-20
34,2012-03-14,1,7.7,"[120.19433, 31.47633]",2012-03-07,2012-03-21
35,2012-02-13,1,7.9,"[120.19433, 31.47633]",2012-02-06,2012-02-20
36,2012-02-14,1,7.9,"[120.19433, 31.47633]",2012-02-07,2012-02-21
37,2012-01-13,1,8.9,"[120.19433, 31.47633]",2012-01-06,2012-01-20
43,2011-12-13,2,3.1,"[120.18796, 31.43609]",2011-12-06,2011-12-20
48,2011-08-11,2,4.3,"[120.18796, 31.43609]",2011-08-04,2011-08-18
52,2011-08-18,2,5.8,"[120.18796, 31.43609]",2011-08-11,2011-08-25
60,2012-01-13,2,12.4,"[120.18796, 31.43609]",2012-01-06,2012-01-20
61,2012-02-13,2,16.8,"[120.18796, 31.43609]",2012-02-06,2012-02-20
62,2012-02-14,2,16.8,"[120.18796, 31.43609]",2012-02-07,2012-02-21
63,2012-03-14,2,21.8,"[120.18796, 31.43609]",2012-03-07,2012-03-21
70,2011-12-13,3,3.1,"[120.18733, 31.41117]",2011-12-06,2011-12-20
74,2012-03-14,3,4.9,"[120.18733, 31.41117]",2012-03-07,2012-03-21
76,2011-08-18,3,5.1,"[120.18733, 31.41117]",2011-08-11,2011-08-25
78,2011-08-11,3,6.4,"[120.18733, 31.41117]",2011-08-04,2011-08-18
82,2012-01-13,3,15.7,"[120.18733, 31.41117]",2012-01-06,2012-01-20
83,2012-02-13,3,15.7,"[120.18733, 31.41117]",2012-02-06,2012-02-20
84,2012-02-14,3,15.7,"[120.18733, 31.41117]",2012-02-07,2012-02-21
89,2011-12-13,4,3.4,"[120.18017, 31.33833]",2011-12-06,2011-12-20
95,2012-01-13,4,6.3,"[120.18017, 31.33833]",2012-01-06,2012-01-20
103,2012-02-13,4,14.7,"[120.18017, 31.33833]",2012-02-06,2012-02-20
105,2012-03-14,4,18.6,"[120.18017, 31.33833]",2012-03-07,2012-03-21
...,...,...,...,...,...,...
241,2012-02-13,12,9.6,"[120.03182, 31.39761]",2012-02-06,2012-02-20
242,2012-02-14,12,9.6,"[120.03182, 31.39761]",2012-02-07,2012-02-21
243,2011-08-11,12,10.2,"[120.03182, 31.39761]",2011-08-04,2011-08-18
246,2012-01-13,12,18.5,"[120.03182, 31.39761]",2012-01-06,2012-01-20
251,2011-12-13,13,3.5,"[120.05612, 31.3081]",2011-12-06,2011-12-20
264,2012-02-13,13,23.3,"[120.05612, 31.3081]",2012-02-06,2012-02-20
268,2011-08-11,14,4.4,"[120.02333, 31.19055]",2011-08-04,2011-08-18
270,2011-08-18,14,5.0,"[120.02333, 31.19055]",2011-08-11,2011-08-25
278,2012-02-13,14,8.3,"[120.02333, 31.19055]",2012-02-06,2012-02-20
292,2012-02-13,15,7.9,"[119.96731, 31.10789]",2012-02-06,2012-02-20
293,2011-08-18,15,8.7,"[119.96731, 31.10789]",2011-08-11,2011-08-25
294,2011-08-11,15,9.3,"[119.96731, 31.10789]",2011-08-04,2011-08-18
304,2012-02-13,16,7.1,"[120.143856, 31.116508]",2012-02-06,2012-02-20
309,2012-02-13,17,6.4,"[120.18982, 30.99104]",2012-02-06,2012-02-20
316,2012-02-13,18,6.6,"[120.23271, 31.01261]",2012-02-06,2012-02-20
326,2012-02-13,19,8.2,"[120.37909, 30.98091]",2012-02-06,2012-02-20
331,2012-02-13,20,5.4,"[120.51329, 31.08941]",2012-02-06,2012-02-20
337,2012-02-13,21,6.7,"[120.33567, 31.09903]",2012-02-06,2012-02-20
343,2012-02-13,22,7.1,"[120.40596, 31.17683]",2012-02-06,2012-02-20
350,2012-02-13,23,3.9,"[120.464785, 31.20565]",2012-02-06,2012-02-20
355,2012-02-13,24,7.7,"[120.33149, 31.24482]",2012-02-06,2012-02-20
368,2012-02-13,25,11.4,"[120.241535, 31.353396]",2012-02-06,2012-02-20
369,2012-02-14,25,11.4,"[120.241535, 31.353396]",2012-02-07,2012-02-21
376,2011-08-11,26,2.4,"[120.14594, 31.4068]",2011-08-04,2011-08-18
377,2011-12-13,26,3.3,"[120.14594, 31.4068]",2011-12-06,2011-12-20
382,2011-08-18,26,5.2,"[120.14594, 31.4068]",2011-08-11,2011-08-25
385,2012-03-14,26,7.0,"[120.14594, 31.4068]",2012-03-07,2012-03-21
389,2012-02-13,26,13.7,"[120.14594, 31.4068]",2012-02-06,2012-02-20
390,2012-02-14,26,13.7,"[120.14594, 31.4068]",2012-02-07,2012-02-21
394,2012-01-13,26,19.3,"[120.14594, 31.4068]",2012-01-06,2012-01-20

In [98]:
def getBandInfo(coordinates, start_date, end_date, band_selection, assetID = "LANDSAT/LE07/C01/T1_SR"):
    '''
    assetID: personal or GEE asset, default is USGS Landsat 8 Surface Reflectance Tier 1: "LANDSAT/LC08/C01/T1_SR"
    start_date, end_date: timestamp object
    band selection: (for bands in Landsat 8 with 30 m resolution)
        4: b1 blue
        5: b2 green
        6: b3 red
        7: b4 NIR
    '''
    try: 
        image = ee.ImageCollection(assetID).filterDate(start_date, end_date)
        point = ee.Geometry.Point(coordinates)
        get_point = image.getRegion(point,1)
        return get_point.get(1).getInfo()[band_selection]
        
    except: 
        return None

In [99]:
getBandInfo(taihu.coordinates[0], taihu.image_start_date[0], taihu.image_end_date[0], 5, assetID = "LANDSAT/LE07/C01/T1_SR")

failed

In [100]:
# New column with b1 values from landsat 7
taihu['ls7_b1'] = taihu.apply(lambda x: getBandInfo(x['coordinates'], x['image_start_date'], x['image_end_date'], 4), axis=1)

failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed

In [104]:
# New column with b2 values from landsat 7
taihu['ls7_b2'] = taihu.apply(lambda x: getBandInfo(x['coordinates'], x['image_start_date'], x['image_end_date'], 5), axis=1)

failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed

In [105]:
# New column with b2 values from landsat 7
taihu['ls7_b3'] = taihu.apply(lambda x: getBandInfo(x['coordinates'], x['image_start_date'], x['image_end_date'], 6), axis=1)

failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed

In [106]:
# New column with b2 values from landsat 7
taihu['ls7_b4'] = taihu.apply(lambda x: getBandInfo(x['coordinates'], x['image_start_date'], x['image_end_date'], 7), axis=1)

failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed
failed

In [107]:
taihu

,record_date,station,chla,coordinates,image_start_date,image_end_date,ls7_b1,ls7_b2,ls7_b3,ls7_b4
0,2013-05-13,0,1.5,"[120.19067, 31.51317]",2013-05-06,2013-05-20,NaN,NaN,NaN,NaN
1,2013-06-17,0,1.5,"[120.19067, 31.51317]",2013-06-10,2013-06-24,NaN,NaN,NaN,NaN
2,2012-05-14,0,2.4,"[120.19067, 31.51317]",2012-05-07,2012-05-21,NaN,NaN,NaN,NaN
3,2012-11-18,0,2.4,"[120.19067, 31.51317]",2012-11-11,2012-11-25,1104.0,1249.0,1160.0,675.0
4,2014-02-22,0,2.8,"[120.19067, 31.51317]",2014-02-15,2014-03-01,NaN,NaN,NaN,NaN
5,2012-03-14,0,3.4,"[120.19067, 31.51317]",2012-03-07,2012-03-21,NaN,NaN,NaN,NaN
6,2011-12-13,0,3.7,"[120.19067, 31.51317]",2011-12-06,2011-12-20,NaN,NaN,NaN,NaN
7,2012-10-19,0,4.0,"[120.19067, 31.51317]",2012-10-12,2012-10-26,581.0,833.0,678.0,282.0
8,2011-08-18,0,4.2,"[120.19067, 31.51317]",2011-08-11,2011-08-25,NaN,NaN,NaN,NaN
9,2013-01-15,0,4.6,"[120.19067, 31.51317]",2013-01-08,2013-01-22,NaN,NaN,NaN,NaN
10,2013-02-28,0,6.2,"[120.19067, 31.51317]",2013-02-21,2013-03-07,1178.0,1197.0,1012.0,841.0
11,2011-08-11,0,6.9,"[120.19067, 31.51317]",2011-08-04,2011-08-18,NaN,NaN,NaN,NaN
12,2012-01-13,0,7.3,"[120.19067, 31.51317]",2012-01-06,2012-01-20,NaN,NaN,NaN,NaN
13,2012-02-13,0,7.3,"[120.19067, 31.51317]",2012-02-06,2012-02-20,NaN,NaN,NaN,NaN
14,2012-02-14,0,7.3,"[120.19067, 31.51317]",2012-02-07,2012-02-21,NaN,NaN,NaN,NaN
15,2012-06-14,0,7.5,"[120.19067, 31.51317]",2012-06-07,2012-06-21,NaN,NaN,NaN,NaN
16,2012-12-19,0,8.3,"[120.19067, 31.51317]",2012-12-12,2012-12-26,NaN,NaN,NaN,NaN
17,2013-11-21,0,8.3,"[120.19067, 31.51317]",2013-11-14,2013-11-28,874.0,1123.0,940.0,568.0
18,2013-08-22,0,9.2,"[120.19067, 31.51317]",2013-08-15,2013-08-29,NaN,NaN,NaN,NaN
19,2012-09-13,0,9.4,"[120.19067, 31.51317]",2012-09-06,2012-09-20,NaN,NaN,NaN,NaN
20,2013-03-16,0,11.2,"[120.19067, 31.51317]",2013-03-09,2013-03-23,734.0,805.0,600.0,371.0
21,2013-08-22,1,2.7,"[120.19433, 31.47633]",2013-08-15,2013-08-29,1329.0,1485.0,1238.0,784.0
22,2013-02-28,1,2.9,"[120.19433, 31.47633]",2013-02-21,2013-03-07,1128.0,1221.0,1034.0,700.0
23,2011-12-13,1,3.6,"[120.19433, 31.47633]",2011-12-06,2011-12-20,2483.0,2453.0,2292.0,2776.0
24,2012-11-18,1,3.7,"[120.19433, 31.47633]",2012-11-11,2012-11-25,1355.0,1487.0,1318.0,819.0
25,2013-01-15,1,4.1,"[120.19433, 31.47633]",2013-01-08,2013-01-22,NaN,NaN,NaN,NaN
26,2012-05-14,1,4.2,"[120.19433, 31.47633]",2012-05-07,2012-05-21,NaN,NaN,NaN,NaN
27,2012-10-19,1,4.3,"[120.19433, 31.47633]",2012-10-12,2012-10-26,624.0,856.0,614.0,236.0
28,2012-09-13,1,5.0,"[120.19433, 31.47633]",2012-09-06,2012-09-20,NaN,NaN,NaN,NaN
29,2013-04-15,1,5.0,"[120.19433, 31.47633]",2013-04-08,2013-04-22,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
366,2014-02-22,25,9.8,"[120.241535, 31.353396]",2014-02-15,2014-03-01,1617.0,1658.0,1446.0,898.0
367,2013-03-16,25,10.3,"[120.241535, 31.353396]",2013-03-09,2013-03-23,1069.0,1302.0,1318.0,695.0
368,2012-02-13,25,11.4,"[120.241535, 31.353396]",2012-02-06,2012-02-20,NaN,NaN,NaN,NaN
369,2012-02-14,25,11.4,"[120.241535, 31.353396]",2012-02-07,2012-02-21,NaN,NaN,NaN,NaN
370,2013-04-15,25,12.7,"[120.241535, 31.353396]",2013-04-08,2013-04-22,NaN,NaN,NaN,NaN
371,2013-08-22,25,13.3,"[120.241535, 31.353396]",2013-08-15,2013-08-29,1257.0,1504.0,1235.0,736.0
372,2013-02-27,25,16.5,"[120.241535, 31.353396]",2013-02-20,2013-03-06,1453.0,1623.0,1458.0,885.0
373,2013-06-17,26,0.6,"[120.14594, 31.4068]",2013-06-10,2013-06-24,NaN,NaN,NaN,NaN
374,2012-07-23,26,0.7,"[120.14594, 31.4068]",2012-07-16,2012-07-30,NaN,NaN,NaN,NaN
375,2013-05-13,26,1.1,"[120.14594, 31.4068]",2013-05-06,2013-05-20,NaN,NaN,NaN,NaN
376,2011-08-11,26,2.4,"[120.14594, 31.4068]",2011-08-04,2011-08-18,NaN,NaN,NaN,NaN
377,2011-12-13,26,3.3,"[120.14594, 31.4068]",2011-12-06,2011-12-20,2964.0,3165.0,3081.0,3053.0
378,2012-09-13,26,3.4,"[120.14594, 31.4068]",2012-09-06,2012-09-20,NaN,NaN,NaN,NaN
379,2013-03-16,26,3.8,"[120.14594, 31.4068]",2013-03-09,2013-03-23,952.0,1197.0,1126.0,656.0
380,2013-01-15,26,4.2,"[120.14594, 31.4068]",2013-01-08,2013-01-22,NaN,NaN,NaN,NaN
381,2012-11-18,26,4.7,"[120.14594, 31.4068]",2012-11-11,2012-11-25,1321.0,1544.0,1394.0,853.0
382,2011-08-18,26,5.2,"[120.14594, 31.4068]",2011-08-11,2011-08-25,NaN,NaN,NaN,NaN
383,2012-10-19,26,5.6,"[120.14594, 31.4068]",2012-10-12,2012-10-26,598.0,901.0,719.0,326.0
384,2012-05-14,26,6.1,"[120.14594, 31.4068]",2012-05-07,2012-05-21,NaN,NaN,NaN,NaN
385,2012-03-14,26,7.0,"[120.14594, 31.4068]",2012-03-07,2012-03-21,NaN,NaN,NaN,NaN
386,2013-04-15,26,7.2,"[120.14594, 31.4068]",2013-04-08,2013-04-22,NaN,NaN,NaN,NaN
387,2012-12-19,26,9.3,"[120.14594, 31.4068]",2012-12-12,2012-12-26,NaN,NaN,NaN,NaN
388,2013-08-22,26,11.1,"[120.14594, 31.4068]",2013-08-15,2013-08-29,1327.0,1531.0,1258.0,875.0
389,2012-02-13,26,13.7,"[120.14594, 31.4068]",2012-02-06,2012-02-20,NaN,NaN,NaN,NaN
390,2012-02-14,26,13.7,"[120.14594, 31.4068]",2012-02-07,2012-02-21,NaN,NaN,NaN,NaN
391,2013-02-27,26,14.3,"[120.14594, 31.4068]",2013-02-20,2013-03-06,1386.0,1550.0,1348.0,887.0
392,2014-02-22,26,15.0,"[120.14594, 31.4068]",2014-02-15,2014-03-01,1708.0,1758.0,1558.0,900.0
393,2012-06-14,26,15.2,"[120.14594, 31.4068]",2012-06-07,2012-06-21,NaN,NaN,NaN,NaN
394,2012-01-13,26,19.3,"[120.14594, 31.4068]",2012-01-06,2012-01-20,NaN,NaN,NaN,NaN
395,2013-11-21,26,27.6,"[120.14594, 31.4068]",2013-11-14,2013-11-28,947.0,1119.0,911.0,495.0

In [108]:
taihu = taihu[taihu.ls7_b1.notnull()]

In [109]:
taihu

,record_date,station,chla,coordinates,image_start_date,image_end_date,ls7_b1,ls7_b2,ls7_b3,ls7_b4
3,2012-11-18,0,2.4,"[120.19067, 31.51317]",2012-11-11,2012-11-25,1104.0,1249.0,1160.0,675.0
7,2012-10-19,0,4.0,"[120.19067, 31.51317]",2012-10-12,2012-10-26,581.0,833.0,678.0,282.0
10,2013-02-28,0,6.2,"[120.19067, 31.51317]",2013-02-21,2013-03-07,1178.0,1197.0,1012.0,841.0
17,2013-11-21,0,8.3,"[120.19067, 31.51317]",2013-11-14,2013-11-28,874.0,1123.0,940.0,568.0
20,2013-03-16,0,11.2,"[120.19067, 31.51317]",2013-03-09,2013-03-23,734.0,805.0,600.0,371.0
21,2013-08-22,1,2.7,"[120.19433, 31.47633]",2013-08-15,2013-08-29,1329.0,1485.0,1238.0,784.0
22,2013-02-28,1,2.9,"[120.19433, 31.47633]",2013-02-21,2013-03-07,1128.0,1221.0,1034.0,700.0
23,2011-12-13,1,3.6,"[120.19433, 31.47633]",2011-12-06,2011-12-20,2483.0,2453.0,2292.0,2776.0
24,2012-11-18,1,3.7,"[120.19433, 31.47633]",2012-11-11,2012-11-25,1355.0,1487.0,1318.0,819.0
27,2012-10-19,1,4.3,"[120.19433, 31.47633]",2012-10-12,2012-10-26,624.0,856.0,614.0,236.0
31,2013-11-21,1,6.3,"[120.19433, 31.47633]",2013-11-14,2013-11-28,844.0,1035.0,861.0,532.0
33,2014-02-22,1,6.9,"[120.19433, 31.47633]",2014-02-15,2014-03-01,1559.0,1518.0,1212.0,855.0
43,2011-12-13,2,3.1,"[120.18796, 31.43609]",2011-12-06,2011-12-20,3690.0,3783.0,3586.0,4092.0
46,2012-10-19,2,3.9,"[120.18796, 31.43609]",2012-10-12,2012-10-26,622.0,926.0,741.0,371.0
49,2013-08-22,2,4.3,"[120.18796, 31.43609]",2013-08-15,2013-08-29,1262.0,1342.0,1050.0,783.0
50,2012-11-18,2,4.5,"[120.18796, 31.43609]",2012-11-11,2012-11-25,1380.0,1514.0,1448.0,926.0
51,2013-11-21,2,4.8,"[120.18796, 31.43609]",2013-11-14,2013-11-28,841.0,1091.0,911.0,459.0
55,2013-02-28,2,6.2,"[120.18796, 31.43609]",2013-02-21,2013-03-07,1411.0,1551.0,1371.0,887.0
56,2013-03-16,2,7.1,"[120.18796, 31.43609]",2013-03-09,2013-03-23,993.0,1197.0,1088.0,534.0
57,2014-02-22,2,7.8,"[120.18796, 31.43609]",2014-02-15,2014-03-01,1579.0,1613.0,1297.0,764.0
67,2012-11-18,3,1.3,"[120.18733, 31.41117]",2012-11-11,2012-11-25,1125.0,1213.0,1103.0,636.0
70,2011-12-13,3,3.1,"[120.18733, 31.41117]",2011-12-06,2011-12-20,3514.0,3634.0,3659.0,3737.0
72,2013-11-21,3,3.2,"[120.18733, 31.41117]",2013-11-14,2013-11-28,1029.0,1148.0,963.0,495.0
75,2012-10-19,3,5.0,"[120.18733, 31.41117]",2012-10-12,2012-10-26,598.0,878.0,676.0,325.0
77,2013-03-16,3,5.1,"[120.18733, 31.41117]",2013-03-09,2013-03-23,1031.0,1282.0,1184.0,656.0
81,2013-08-22,3,13.6,"[120.18733, 31.41117]",2013-08-15,2013-08-29,1216.0,1436.0,1049.0,1012.0
85,2014-02-22,3,18.3,"[120.18733, 31.41117]",2014-02-15,2014-03-01,1555.0,1588.0,1297.0,764.0
86,2013-02-27,3,37.6,"[120.18733, 31.41117]",2013-02-20,2013-03-06,1433.0,1626.0,1415.0,979.0
87,2012-10-19,4,2.6,"[120.18017, 31.33833]",2012-10-12,2012-10-26,641.0,924.0,718.0,235.0
88,2013-11-22,4,3.0,"[120.18017, 31.33833]",2013-11-15,2013-11-29,999.0,1146.0,1012.0,494.0
...,...,...,...,...,...,...,...,...,...,...
335,2013-11-22,21,1.5,"[120.33567, 31.09903]",2013-11-15,2013-11-29,989.0,1136.0,799.0,700.0
336,2012-11-17,21,6.4,"[120.33567, 31.09903]",2012-11-10,2012-11-24,942.0,1051.0,855.0,486.0
338,2014-02-22,21,13.2,"[120.33567, 31.09903]",2014-02-15,2014-03-01,1629.0,1769.0,1633.0,983.0
339,2013-02-27,21,13.7,"[120.33567, 31.09903]",2013-02-20,2013-03-06,2388.0,2608.0,2509.0,2030.0
340,2013-11-22,22,1.2,"[120.40596, 31.17683]",2013-11-15,2013-11-29,716.0,786.0,541.0,454.0
342,2012-11-17,22,6.3,"[120.40596, 31.17683]",2012-11-10,2012-11-24,1305.0,1440.0,1304.0,631.0
344,2014-02-22,22,10.1,"[120.40596, 31.17683]",2014-02-15,2014-03-01,1563.0,1672.0,1590.0,983.0
345,2013-02-27,22,17.1,"[120.40596, 31.17683]",2013-02-20,2013-03-06,2089.0,2288.0,2160.0,1527.0
346,2014-02-22,23,1.3,"[120.464785, 31.20565]",2014-02-15,2014-03-01,1455.0,1479.0,1114.0,713.0
347,2012-11-17,23,1.7,"[120.464785, 31.20565]",2012-11-10,2012-11-24,969.0,1052.0,751.0,415.0
349,2013-11-22,23,2.1,"[120.464785, 31.20565]",2013-11-15,2013-11-29,663.0,670.0,490.0,384.0
351,2013-02-27,23,14.9,"[120.464785, 31.20565]",2013-02-20,2013-03-06,2089.0,2263.0,2004.0,1573.0
352,2013-11-22,24,2.4,"[120.33149, 31.24482]",2013-11-15,2013-11-29,1019.0,1227.0,981.0,455.0
354,2014-02-22,24,6.7,"[120.33149, 31.24482]",2014-02-15,2014-03-01,1590.0,1676.0,1506.0,895.0
356,2012-11-17,24,11.5,"[120.33149, 31.24482]",2012-11-10,2012-11-24,1395.0,1622.0,1517.0,957.0
357,2013-02-27,24,20.5,"[120.33149, 31.24482]",2013-02-20,2013-03-06,1889.0,1994.0,1877.0,1437.0
360,2013-11-21,25,5.0,"[120.241535, 31.353396]",2013-11-14,2013-11-28,999.0,1261.0,1141.0,564.0
364,2012-11-17,25,8.0,"[120.241535, 31.353396]",2012-11-10,2012-11-24,2496.0,2714.0,2820.0,2458.0
366,2014-02-22,25,9.8,"[120.241535, 31.353396]",2014-02-15,2014-03-01,1617.0,1658.0,1446.0,898.0
367,2013-03-16,25,10.3,"[120.241535, 31.353396]",2013-03-09,2013-03-23,1069.0,1302.0,1318.0,695.0
371,2013-08-22,25,13.3,"[120.241535, 31.353396]",2013-08-15,2013-08-29,1257.0,1504.0,1235.0,736.0
372,2013-02-27,25,16.5,"[120.241535, 31.353396]",2013-02-20,2013-03-06,1453.0,1623.0,1458.0,885.0
377,2011-12-13,26,3.3,"[120.14594, 31.4068]",2011-12-06,2011-12-20,2964.0,3165.0,3081.0,3053.0
379,2013-03-16,26,3.8,"[120.14594, 31.4068]",2013-03-09,2013-03-23,952.0,1197.0,1126.0,656.0
381,2012-11-18,26,4.7,"[120.14594, 31.4068]",2012-11-11,2012-11-25,1321.0,1544.0,1394.0,853.0
383,2012-10-19,26,5.6,"[120.14594, 31.4068]",2012-10-12,2012-10-26,598.0,901.0,719.0,326.0
388,2013-08-22,26,11.1,"[120.14594, 31.4068]",2013-08-15,2013-08-29,1327.0,1531.0,1258.0,875.0
391,2013-02-27,26,14.3,"[120.14594, 31.4068]",2013-02-20,2013-03-06,1386.0,1550.0,1348.0,887.0
392,2014-02-22,26,15.0,"[120.14594, 31.4068]",2014-02-15,2014-03-01,1708.0,1758.0,1558.0,900.0
395,2013-11-21,26,27.6,"[120.14594, 31.4068]",2013-11-14,2013-11-28,947.0,1119.0,911.0,495.0